<div class="ruler">
    <svg class="ico z-timer"><use xlink:href="#z-timer" /></svg>
    <span>Consultoria <br/> gratuita</span>
</div>

<div class="ruler">
    <svg class="ico z-treiner"><use xlink:href="#z-treiner" /></svg>
    <span>Treinamento <br/> Exclusivo</span>
</div>

<div class="ruler">
    <svg class="ico z-sales"><use xlink:href="#z-sales" /></svg>
    <span>Pós-venda <br/> de verdade</span>
</div>

<div class="ruler">
    <svg class="ico z-award"><use xlink:href="#z-award" /></svg>
    <span>22 anos de <br/> experiência</span>
</div>

<div class="ruler">
    <svg class="ico z-shield"><use xlink:href="#z-shield" /></svg>
    <span>Compra 100% <br/> segura</span>
</div>