color1_font = #FFFFFF
color1_font_hover = #FFFFFF
color1_bg = #229D34
color1_bg_hover = #136025
color2_font = #FFFFFF
color2_font_hover = #FFFFFF
color2_bg = #F3445E
color2_bg_hover = #ab4257
color3_font = #FFFFFF
color3_font_hover = #FFFFFF
color3_bg = #727176
color3_bg_hover = #333
button_font = #FFFFFF
button_font_hover = #FFFFFF
button_bg = #CA213E
button_bg_hover = #990000
