.brands
    border-top: solid 1px #dbdcdf

    .owl-wrapper-outer
        border: 0

    &:before
        display: block
        padding: 45px 0
        color: var(--primary)
        content: 'AS MELHORES MARCAS VOCÊ ENCONTRA AQUI'
        text-align: center
        font-weight: bold
        font-size: 30px

    &__list
        container()

    &__item
        a
            border: 0
