.footer
    --footer-bg: #f5f5f5

    @media media-max-lg
        text-align: center

        .flex--a-center
            justify-content: center

        .footer__box
            margin-top: 30px

    &, a
        color: var(--tertiary)
        font-weight: regular
        font-size: 1rem
        line-height: 1.4

    &__container
        @media media-min-lg
            display: flex
            justify-content: space-between

    &__row
        padding: 35px 0

        &--payments-sends
            shadowBorder()

            background: var(--footer-bg)

    &__title
        padding-bottom: 20px
        color: var(--tertiary)
        text-align: center
        text-transform: uppercase
        letter-spacing: 2px
        font-weight: regular
        font-size: 17px

    &__name
        padding: 10px 0
        color: var(--primary)
        font-weight: bold
        font-size: 1.2rem

    &__box
        + .footer__box
            margin-top: 30px