.head
    margin-bottom: 0 !important

    @media media-max-lg
        display: none

    &__container
        container()

        display: flex
        justify-content: space-between
        align-items: center