.newsletter
    margin-top: 50px
    margin-bottom: 0 !important
    padding: 50px 0 40px
    background: var(--primary)

    &__form
        container()

        .input-text
            height: 56px
            border: solid 2px var(--primary-hover)
            border-radius: 56px

            &::placeholder
                color: var(--tertiary)

        @media media-min-lg
            flex-wrap: nowrap

    &__text
        display: flex
        align-items: center
        color: var(--primary-contrast)
        font-weight: regular
        font-size: 24px
        line-height: 1

        @media media-max-sm
            font-size: 12px

        @media media-min-lg
            flex: 0 1 580px

        .ico
            flex: 0 0 70px
            margin-right: 30px
            width: 70px
            height: 50px

            @media media-max-sm
                flex: 0 0 40px
                margin-right: 10px
                width: 40px
                height: 25px

        span
            flex: 0 1 440px

    &__email
        @media media-min-lg
            flex: 0 1 550px
            min-width: 0

    &__submit
        @media media-min-lg
            flex: 0 1 200px

    &__btn
        height: 56px
        border: solid 2px var(--primary-hover)
        border-radius: 56px
        background: var(--secundary)
        color: var(--secundary-contrast)