.products
    --products-border-color: #e2e3e6

    .owl-pagination
        display: none

    &
        margin-top: 60px

    &__title
        color: var(--secundary)
        text-transform: uppercase
        font-weight: bold
        font-size: 29px

        @media media-max-sm
            font-size: 20px

        span
            color: var(--primary)

    &__case
        justify-content: flex-start
        box-shadow: none

    &__header
        border: solid 1px var(--products-border-color)

        a
            display: block

    &__name
        color: var(--tertiary)
        text-transform: uppercase
        font-weight: regular
        font-size: 14px

    &__main
        padding: 15px 5px