.products
    --products-border-color: #e2e3e6

    .owl-pagination
        display: none

    .owl-wrapper-outer
        @media media-min-lg
            margin: -13px
            padding: 13px
            width: auto !important

    &
        margin-top: 60px

    &__title
        color: var(--secundary)
        text-transform: uppercase
        font-weight: bold
        font-size: 29px

        @media media-max-sm
            font-size: 20px

        span
            color: var(--primary)

    &__main
        display: flex
        flex: 1
        flex-flow: column nowrap
        min-height: 0

    &__case
        justify-content: flex-start
        padding: 5px
        border-radius: 4px
        box-shadow: none

        @media media-min-lg
            &:hover
                box-shadow: 0 0 5px rgba(0, 0, 0, .1)

    &__header
        border: solid 1px var(--products-border-color)

        a
            display: block

    &__name
        color: var(--tertiary)
        text-transform: uppercase
        font-weight: regular
        font-size: 14px

    &__main
        padding: 15px 5px

    &__actions
        display: flex
        flex: 1
        flex-flow: column nowrap
        min-height: 0

        @media media-min-lg
            opacity: 0
            transition: all .2s ease

            .products__case:hover &
                opacity: 1

        .button
            margin-top: auto
            width: 100%
